@import "assets/styles/_variables.scss";
@import "assets/styles/_typography.scss";
@import "assets/styles/_button.scss";
@import "assets/styles/_header.scss";
@import "assets/styles/_scores.scss";
@import "assets/styles/_game-screen.scss";
@import "assets/styles/_character.scss";
@import "assets/styles/_bomb.scss";
@import "assets/styles/_star.scss";
@import "assets/styles/_description.scss";
@import "assets/styles/_footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $main-font;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 50px;
  }
}
