h1,
h2,
h3,
p {
  color: #faf9f6;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

.btn {
  background: #9897fe;
  color: #faf9f6;
  font-family: "Press Start 2P", cursive;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid white;
  cursor: pointer;
}

.btn-jump {
  background: #9897fe;
  color: #faf9f6;
  font-family: "Press Start 2P", cursive;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid white;
  width: 90%;
  cursor: pointer;
}

#start-reset {
  display: flex;
  margin-bottom: 3rem;
}

.btn-clicked {
  background-color: #faf9f6;
  color: #9897fe;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#header {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#scores {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#scores__current {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#screen {
  width: 90%;
  height: 200px;
  background-color: #faf9f6;
  margin: auto;
  margin-bottom: 25px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.character {
  font-size: 3rem;
  animation-timing-function: linear;
  position: absolute;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 0px;
  }
}
.animate {
  transform: scale(2);
}

#bomb {
  font-size: 2rem;
  position: absolute;
  right: 0%;
  animation-timing-function: linear;
  right: 0px;
}

@keyframes side-scroll {
  0% {
    left: 260px;
  }
  100% {
    left: -8px;
  }
}
.lane {
  background: lightblue;
  border: 1px solid lightgray;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#bottom-lane {
  position: relative;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px;
  height: 15vh;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9897fe;
  font-family: "Press Start 2P", cursive;
  padding: 25px;
  height: 100vh;
}

.game-desc {
  text-align: center;
  line-height: 1.5rem;
}