h1,
h2,
h3,
p {
  color: #faf9f6;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

.btn {
  background: #9897fe;
  color: #faf9f6;
  font-family: "Press Start 2P", cursive;
  display: block;
  margin: auto;
  padding: 1em;
  border: 1px solid white;
  cursor: pointer;
}

.btn:hover {
  background-color: #faf9f6;
  color: #9897fe;
  transition: 0.2s;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#header {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#scores {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#scores__current {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#screen {
  width: 300px;
  height: 200px;
  background-color: #faf9f6;
  margin: auto;
  margin-bottom: 25px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.frog {
  color: #61ff00;
  font-size: 2rem;
}

#frog-top {
  display: none;
}

.hideFrog {
  display: none;
}

#bomb {
  font-size: 2rem;
  position: absolute;
  right: 0%;
  animation: side-scroll 2s infinite;
  animation-timing-function: linear;
  left: -8px;
}

@keyframes side-scroll {
  0% {
    left: 260px;
  }
  100% {
    left: -8px;
  }
}
.lane {
  background: lightblue;
  border: 1px solid lightgray;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bottom-lane {
  position: relative;
}

h1,
h2,
h3,
p {
  color: #faf9f6;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9897fe;
  font-family: "Press Start 2P", cursive;
  padding: 25px;
}