@import "assets/styles/_variables.scss";
@import "assets/styles/_typography.scss";
@import "assets/styles/_button.scss";
@import "assets/styles/_header.scss";
@import "assets/styles/_scores.scss";
@import "assets/styles/_game-screen.scss";
@import "assets/styles/_character.scss";
@import "assets/styles/_bomb.scss";
@import "assets/styles/_star.scss";
@import "assets/styles/_footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $main-font;
  padding: 25px;
  touch-action: manipulation;
}

.game-desc {
  text-align: center;
  line-height: 1.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0px;
  }

  .game-desc {
    margin-bottom: 1.5rem;
  }
}
