#bomb {
  font-size: 2rem;
  position: absolute;
  right: 0;
  animation-timing-function: linear;
}

@keyframes side-scroll {
  0% {
    left: 100%;
  }
  100% {
    left: -8px;
  }
}

.animate-bomb {
  animation: side-scroll 0.95s infinite;
}
