@import "./_typography.scss";
@import "./_variables.scss";

.btn {
  background: $primary-color;
  color: $font-color;
  font-family: $main-font;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid white;
  cursor: pointer;
}

.btn-jump {
  background: $primary-color;
  color: $font-color;
  font-family: $main-font;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid white;
  width: 90%;
  cursor: pointer;
}

#start-reset {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .btn-jump {
    width: 40%;
  }

  #start-reset {
    margin-bottom: 0;
    width: 40%;
  }
}

// visual indicator when button is clicked
.btn-clicked {
  background-color: $font-color;
  color: $primary-color;
}
