@import "./_typography.scss";
@import "./_variables.scss";

.btn {
  background: $primary-color;
  color: $font-color;
  font-family: $main-font;
  display: block;
  margin: auto;
  padding: 1em;
  border: 1px solid white;
  cursor: pointer;
}

.btn-jump {
  background: $primary-color;
  color: $font-color;
  font-family: $main-font;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid white;
  width: 90%;
  cursor: pointer;
}

.start-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .btn-jump {
    width: 30%;
  }

  .btn:hover {
    background-color: $font-color;
    color: $primary-color;
    transition: 0.2s;
  }
}
