@import "./_variables.scss";

.frog {
  color: $frog-color;
  font-size: 2rem;
}

#frog-top {
  display: none;
}

// will make this position absolute once collision works

.hideFrog {
  display: none;
}
