@import "./_typography.scss";
@import "./_variables.scss";

#screen {
  width: 90%;
  height: 200px;
  background-color: $font-color;
  margin: auto;
  margin-bottom: 25px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
// will make this position relative once collision works

@media screen and (min-width: 1024px) {
  #screen {
    width: 30%;
    height: 200px;
  }
}
