@import "./_typography.scss";
@import "./_variables.scss";

#screen {
  width: 300px;
  height: 200px;
  background-color: $font-color;
  margin: auto;
  margin-bottom: 25px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
// will make this position relative once collision works
